DEPLOY_KEY=
BTT_DONAU_TESTNET_API=https://pre-rpc.bt.io/
NODE_ENV=development
BTT_MAINNET_API=https://rpc.bittorrentchain.io
ARBITRUM_SEPOLIA=https://sepolia-rollup.arbitrum.io/rpc
ARBITRUM_ONE=https://arb1.arbitrum.io/rpc